# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log


# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# copy config for different env
public/admin/config.yml

# ignore content update of file by bash script 
content/blog/
