@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-primary: #060e57;
  --color-secondary: #2aa5ff;
  --color-gray: #f8f9fa;
  --color-error: #ea4747;
}

body {
  overflow-x: hidden;
}

@layer components {
  .form-error {
    @apply h-0 text-error;
    & span {
      @apply flex gap-1 items-center pt-1;
    }
  }
}

.html-content {
  padding: 40px 20px;
  word-break: break-all;
}

.html-content img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.html-content a {
  color: var(--color-secondary);
}

.Subscribe-blog {
  font-size: 24px;
  color: #060e57;
  font-weight: 700;
}

.Subscribe-block-gray {
  width: 370px;
  height: 270px;
  background-color: #f8f9fa;
  border-radius: 15px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.Subscribe-block-gray > .form-control {
  background-color: transparent !important;
}
